html {
  background-size: cover;
}
body {
  margin: 0;
}
table {
  width: 600px /*100% 브라우저 전체 크기*/;
  height: 300px;
  margin-left: auto; /*웹페이지에서 표를 가운데로*/
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
}
.c1 {
  width: 50px;
  height: 50px;
  vertical-align: middle; /*수직 글자 정렬*/
  text-align: center; /*수평 글자 정렬*/
  padding: 2px; /* 글자와 선의 테두리*/
}
.c2 {
  width: 100px;
  height: 50px;
  text-align: center;
}
.c3 {
  width: 350px;
  height: 50px;
  text-align: left;
}
.c4 {
  width: 100px;
  height: 50px;
  text-align: center;
  color: #8a8a8a;
}

/*셀의 안쪽 여백주기 >> padding*/
#blank {
  height: 50px;
}
th,
td {
  border-bottom: 1px solid #ccc;
}
th {
  border-top: 2px solid #00000085;
  height: 50px;
}
